---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ pvc_cleaner_cronjob_name }}
spec:
  schedule: {{ pvc_cleaner_schedule }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
{% if pvc_cleaner_tolerations is defined and pvc_cleaner_tolerations|length > 0 %}
          tolerations:
{{ pvc_cleaner_tolerations | to_nice_yaml(indent=2) | indent(12, true) }}
{% endif %}
{% if pvc_cleaner_node_selector is defined and pvc_cleaner_node_selector|length > 0 %}
          nodeSelector:
{% for key, value in pvc_cleaner_node_selector.items() %}
            {{ key }}: {{ value }}
{% endfor %}
{% endif %}
          containers:
            - name: clean
              image: python:3.12
              command:
                - /bin/bash
              args:
                - -c
                - python /scripts/clean.py --retention {{ pvc_cleaner_retention_days }} {{ pvc_cleaner_extra_options }} /data/{{ pvc_cleaner_root_dir }}
              volumeMounts:
                - name: scripts
                  mountPath: /scripts
                - name: data
                  mountPath: /data
          restartPolicy: Never
          volumes:
            - name: scripts
              configMap:
                name: pvc-cleaner-scripts
            - name: data
              persistentVolumeClaim:
                claimName: {{ pvc_cleaner_pvc_name }}
