imagePullPolicy: IfNotPresent
gitlabUrl: https://gitlab.com/
concurrent: {{ gitlab_runner_concurrency }}
runnerToken: {{ gitlab_runner_token }}
checkInterval: 3
logLevel: info
terminationGracePeriodSeconds: 3600

rbac:
  create: true
  clusterWideAccess: true
  rules:
    - apiGroups:
        - ""
        - apps
        - extensions
        - batch
        - networking.k8s.io
        - rbac.authorization.k8s.io
        - tango.tango-controls.org
        - k8s.cni.cncf.io
      resources:
        - '*'
      verbs:
        - '*'

runners:
  name: {{ gitlab_runner_name }}
  config: |
    [[runners]]
    [runners.kubernetes]
    name = "{{ gitlab_runner_name }}"
    image = "ubuntu:22.04"
    helper_cpu_request = "{{ gitlab_runner_helper_cpu_request }}"
    helper_memory_request = "{{ gitlab_runner_helper_memory_request }}"
    service_cpu_request = "{{ gitlab_runner_service_cpu_request }}"
    service_memory_request = "{{ gitlab_runner_service_memory_request }}"
    cpu_request = "{{ gitlab_runner_cpu_request }}"
    memory_request = "{{ gitlab_runner_memory_request }}"
    cpu_request_overwrite_max_allowed = "{{ gitlab_runner_cpu_request_overwrite_max_allowed }}"
    memory_request_overwrite_max_allowed = "{{ gitlab_runner_memory_request_overwrite_max_allowed }}"
    cpu_limit = "{{ gitlab_runner_cpu_limit }}"
    memory_limit = "{{ gitlab_runner_memory_limit }}"
    helper_cpu_limit = "{{ gitlab_runner_helper_cpu_limit }}"
    helper_memory_limit = "{{ gitlab_runner_helper_memory_limit }}"
    service_cpu_limit = "{{ gitlab_runner_service_cpu_limit }}"
    service_memory_limit = "{{ gitlab_runner_service_memory_limit }}"
    poll_timeout = 600
    namespace = "{{ gitlab_runner_namespace }}"
    privileged = true
    protected = false
    pull_policy = ["always", "if-not-present"]
    service_account = "{{ gitlab_runner_name }}"
    cleanup_grace_period_seconds = 30
    pod_termination_grace_period_seconds = 30
{% if gitlab_runner_node_selectors != [] %}
    [runners.kubernetes.node_selector]
{% for node_selector in gitlab_runner_node_selectors %}
    "{{ node_selector.key }}" = "{{ node_selector.value }}"
{% endfor %}
{% endif %}
{% if gitlab_runner_node_tolerations != [] %}
    [runners.kubernetes.node_tolerations]
{% for node_toleration in gitlab_runner_node_tolerations %}
    "{{ node_toleration.key }}={{ node_toleration.value }}" = "{{ node_toleration.effect }}"
{% endfor %}
{% endif %}
    [runners.kubernetes.volumes]
    [[runners.kubernetes.volumes.host_path]]
    name = "docker"
    mount_path = "/var/run/docker.sock"
    host_path  = "/var/run/docker.sock"
{% for volume in gitlab_runner_pvc_volumes %}
    [[runners.kubernetes.volumes.pvc]]
    name = "{{ volume.name }}"
    mount_path = "{{ volume.mount_path }}"
{% endfor %}
    
podSecurityContext:
  fsGroup: 65533
  runAsUser: 100

resources: {}
affinity: {}
nodeSelector: 
  {{ gitlab_runner_default_node_selector.key }}: '{{ gitlab_runner_default_node_selector.value }}'

tolerations: []
envVars:
  - name: RUNNER_NAME
    value: "{{ gitlab_runner_name }}"
{% for var in gitlab_runner_env_vars %}
  - name: {{ var.name }}
    value: {{ var.value }}
{% endfor %}
