---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ data_sync_name }}-local
spec:
  claimRef:
    name: {{ data_sync_name }}-local
    namespace: {{ data_sync_namespace }}
  capacity:
    storage: {{ data_sync_local_capacity }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  storageClassName: {{ data_sync_name }}-local
  hostPath:
    path: {{ data_sync_host_path }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ data_sync_name }}-local
  namespace: {{ data_sync_namespace }}
spec:
  resources:
    requests:
      storage: {{ data_sync_local_capacity }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  storageClassName: {{ data_sync_name }}-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ data_sync_name }}
  namespace: {{ data_sync_namespace }}
spec:
  resources:
    requests:
      storage: {{ data_sync_capacity }}
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-cephfs
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ data_sync_name }}-sync-config
  namespace: {{ data_sync_namespace }}
data:
  lsyncd.lua: |
    sync {
      default.direct,
      source = "/local-data",
      target = "/cluster-data",
      delete = {{ data_sync_settings_delete | to_json }},
      init = false,
{% if data_sync_settings_exclude is defined and data_sync_settings_exclude|length > 0 %}
      exclude {
{% for path in data_sync_settings_exclude %}
        {{ path | quote }},
{% endfor %}
      }
{% endif %}
    }
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ data_sync_name }}-sync
  namespace: {{ data_sync_namespace }}
  labels:
    app: {{ data_sync_name }}-sync
spec:
  selector:
    matchLabels:
      app: {{ data_sync_name }}-sync
  template:
    metadata:
      name: {{ data_sync_name }}-sync
      labels:
        app: {{ data_sync_name }}-sync
    spec:
{% if data_sync_tolerations is defined and data_sync_tolerations|length > 0 %}
      tolerations:
{{ data_sync_tolerations | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
{% if data_sync_node_selector is defined and data_sync_node_selector|length > 0 %}
      nodeSelector:
{% for key, value in data_sync_node_selector.items() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endif %}
      initContainers:
        - name: chmodder
          image: busybox:1.36
          imagePullPolicy: IfNotPresent
          command: ["chown"]
          args: ["1000", "/local-data"]
          volumeMounts:
            - name: local-data
              mountPath: /local-data
      containers:
        - name: data-sync
          image: solargis/lsyncd:1.2
          imagePullPolicy: IfNotPresent
          command: ["lsyncd"]
          args: ["-nodaemon", "/etc/lsyncd.lua"]
          volumeMounts:
            - name: cluster-data
              mountPath: /cluster-data
            - name: local-data
              mountPath: /local-data
              readOnly: true
            - name: config
              mountPath: /etc/lsyncd.lua
              subPath: lsyncd.lua
              readOnly: true
      restartPolicy: Always
      volumes:
        - name: cluster-data
          persistentVolumeClaim:
            claimName: {{ data_sync_name }}
        - name: local-data
          persistentVolumeClaim:
            claimName: {{ data_sync_name }}-local
        - name: config
          configMap:
            name: {{ data_sync_name }}-sync-config
