# {{ ansible_managed }}
domain-needed
bogus-priv
log-queries

# The address {{ ansible_default_ipv4.address }} is the static IP of this server
# You can find this ip by running ifconfig and look for the
# IP of the interface which is connected to the router.
listen-address=127.0.0.1
listen-address={{ ansible_default_ipv4.address }}
bind-interfaces

# Delegate subdomain DNS servers
{% for server in dns_upstream_servers %}
server={{ server }}
{% endfor %}
{% for domain, address in dns_server_records.items() %}
server=/{{ domain }}/{{ address }}
{% endfor %}

{% for name, address in dns_address_records.items() %}
address=/{{ name }}/{{ address }}
{% endfor %}
