apiVersion: batch/v1
kind: Job
metadata:
  name: {{ kbench_job_name }}
spec:
  template:
    metadata:
      labels:
        kbench: {{ kbench_volume_storage_class_name }}
    spec:
      containers:
        - name: kbench
          image: yasker/kbench:latest
          imagePullPolicy: Always
          env:
            - name: MODE
              value: "{{ kbench_mode }}"
            - name: FILE_NAME
              value: "/volume/test"
            - name: SIZE
              value: "{{ kbench_storage_test_size}}"
            - name: CPU_IDLE_PROF
              value: "disabled"
{% if kbench_volume_mode == "Block" %}
          volumeDevices:
            - name: vol
              devicePath: /volume/test
{% else %}
          volumeMounts:
            - name: vol
              mountPath: /volume/
{% endif %}
      restartPolicy: Never
      volumes:
        - name: vol
          persistentVolumeClaim:
            claimName: {{ kbench_pvc_name }}
  backoffLimit: 0
